.btn{
  margin-right: 5px;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
}
.disabled{
  background-color: grey !important;
}
.trash{
  margin: 0 5px;
  background-color: transparent;
  height: 15px;
  width: 15px;
  background-image: url("../assets/trash.svg");
  background-size: cover;
}

.edit{
  margin: 0 5px;
  background-color: transparent;
  height: 15px;
  width: 15px;
  background-image: url("../assets/edit.svg");
  background-size: cover;
}

.open{
  margin: 0 5px;
  background-color: transparent;
  height: 15px;
  width: 15px;
  background-image: url("../assets/search.svg");
  background-size: cover;
}
